<mat-card>
    <h1>Add New Category</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {{category|json}}
                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input
                        required
                        type="text"
                        name="title"
                        matInput
                         [(ngModel)]="category.title"
                        placeholder="Entetr here"
                        />

                    </mat-form-field>

                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Desription</mat-label>
                        <textarea
                        required
                        name="description"
                        matInput
                       rows="15"
                       [(ngModel)]="category.description"
                        placeholder="Entetr Category desription"
                        ></textarea>
                        
                    </mat-form-field>
                    <div class="container text-center mt15">
                        <button mat-raised-button color="accent" type="submit" >Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </mat-card-content>
</mat-card>
